<div class="mid-card">
  <div class="virtualizer-holder">
    <missing-page-virtualizer
      #scroller
      [items]="items"
      (load)="refreshRenderedArrays($event)"
      unique-selector="missing-dimension-reporter[is-page]"
      tabbing-element-selector="feed-card"
      num-of-items="3"
      default-tabbing
      default-arrow-up-navigation
      default-arrow-down-navigation
      default-page-up-navigation
      default-page-down-navigation
      needs-transition
      tabindex="0"
      (scrolling)="updatePageData(true)"
      (scroll-stopped)="updatePageData(false)"
      swipe-scroll
      [swipeDeltaMultiplier]="swipeDeltaFromInput"
    >
      @for (page of renderingArray; track page.pageIndex) {
        @if (page.pageIndex <= items.length - 1) {
          <missing-dimension-reporter
            [attr.data-page-index]="page.pageIndex"
            class="page"
            style="--width: 100%"
            is-page
          >
            @for (item of page.data; track item.cardNumber) {
              <missing-dimension-reporter
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                "
                [attr.data-page-index]="page.pageIndex"
              >
                <feed-card
                  [attr.data-item-index]="item.cardNumber - 1"
                  text-content="{{ item.textContent }}"
                  card-number="{{ item.cardNumber }}"
                  likes="{{ item.likes }}"
                  comments="{{ item.comments }}"
                  reshares="{{ item.reshares }}"
                  tabindex="0"
                  [attr.data-page-index]="page.pageIndex"
                ></feed-card>
                @if (
                  page.pageIndex === this.items.length - 1 &&
                  page.data.indexOf(item) === page.data.length - 1 &&
                  !item.isLast
                ) {
                  <div class="loader-banner">
                    <button (click)="loadMoreItems()">Load more</button>
                  </div>
                }
              </missing-dimension-reporter>
            }
          </missing-dimension-reporter>
        } @else {
          <missing-dimension-reporter
            [attr.data-page-index]="page.pageIndex"
            class="page"
            style="--width: 100%"
            style="height: 0000px"
            is-page
          ></missing-dimension-reporter>
        }
      }
    </missing-page-virtualizer>
  </div>
  <missing-dimension-reporter (dimension-changed)="storePanelHeight($event)">
    <div class="panel info-area">
      @if (renderingArray?.length) {
        <p>{{ isScrolling ? 'Scrolling' : 'Not Scrolling' }}</p>
        <p>Showing Items {{ startItem }} - {{ endItem }}</p>
        <hr style="width: 100%" />
        <label for="rng" style="font-size: small">Adjust Swipe Distance Multiplier</label>
        <input
          type="number"
          value="1"
          id="rng"
          style="
            /* width: 4ch; */
            padding: 4px;
            flex: none;
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.2);
            color: inherit;
            font-family: inherit;
            text-align: center;
            max-width: 100px;
          "
          (input)="adjustScrollerSwipeDelta($event)"
        />
        <p style="font-size: smaller">
          Tab through the cards and PageUp or PageDown as well if you have access to a keyboard
        </p>
        <p style="font-size: smaller">
          Try dragging the scrollbar as well even if its a touch device
        </p>
      } @else {
        <div class="blink">Please wait !!</div>
      }
    </div>
  </missing-dimension-reporter>
  <missing-fake-scrollbar #fakeScrollbar></missing-fake-scrollbar>
</div>
