:host {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}
.mid-card {
  position: relative;
  width: 50%;
  display: flex;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.virtualizer-holder {
  width: 50%;
  height: 100%;
  padding: 1rem 0rem;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  min-height: 1000px;
}
missing-page-virtualizer {
  width: 100%;
}
missing-fake-scrollbar {
  top: 0px;
  right: 0px;
  transform: translate(100%, 0px);
}
missing-fake-scrollbar::part(thumb) {
  --thumb-background: rgb(159 159 159);
  border-radius: 0.5rem;
  width: calc((9 / 16) * 1rem);
}
missing-fake-scrollbar::part(thumb):hover {
  --thumb-background: rgb(209, 209, 209);
  border-radius: 0.5rem;
  width: calc((9 / 16) * 1rem);
}
missing-fake-scrollbar {
  --scrollbar-width: calc((15 / 16) * 1rem);
}
missing-fake-scrollbar::part(track) {
  --track-background: rgb(0 0 0 / 34%);
  border-radius: 0.25rem;
}
feed-card {
  width: 100%;
}
.panel {
  width: 100%;
  position: relative;
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.4);
  flex-direction: column;
  font-weight: 200;
  height: 100%;
}

@keyframes blink-animation {
  0% {
    opacity: 1; /* Text is visible */
  }
  50% {
    opacity: 0; /* Text is hidden */
  }
  100% {
    opacity: 1; /* Text is visible again, cycle repeats */
  }
}
.blink {
  animation: blink-animation 2s ease infinite;
}
.loader-banner {
  overflow: hidden;
  bottom: 0px;
  width: 100%;
  background-color: rgba(1, 14, 54, 0.973);
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.info-area p {
  margin: 0;
}
.panel-dim-reporter {
  width: 50%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  :host {
    flex-direction: column;
  }
  .mid-card {
    width: 100%;
    flex-direction: column;
    height: 100%;
  }
  .virtualizer-holder {
    width: 100%;
  }
  .panel,
  missing-page-virtualizer {
    width: 100%;
  }
  missing-fake-scrollbar {
    --scrollbar-width: 0.25rem;
    right: -9px;
    height: calc(100% - var(--panel-height, 0px) - 1rem);
    transform: none;
  }
  missing-fake-scrollbar.show-on-mobile-scroll {
    opacity: 1;
  }
  missing-fake-scrollbar::part(thumb) {
    --thumb-background: rgb(159 159 159);
    width: 50%;
    border-radius: 0.5rem;
  }
  missing-fake-scrollbar::part(thumb):hover {
    width: 100%;
  }
  missing-fake-scrollbar::part(track) {
    --track-background: rgb(0 0 0 / 0%);
    outline: none;
    box-shadow: none;
  }
  .panel {
    height: fit-content;
  }
  .panel-dim-reporter {
    width: 100%;
    height: fit-content;
  }
  .instruction-panel {
    height: 150px;
  }
}
.instruction-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-radius: 8px;
}
.info-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
