<div class="mid-card">
  <div class="virtualizer-holder">
    <missing-page-virtualizer-ntsc
      #scroller
      [items]="items"
      (load)="refreshRenderedArrays($event)"
      unique-selector="missing-dimension-reporter[is-page]"
      tabbing-element-selector="feed-card"
      [attr.num-of-items]="numOfPg"
      default-tabbing
      default-arrow-up-navigation
      default-arrow-down-navigation
      default-page-up-navigation
      default-page-down-navigation
      needs-transition
      tabindex="0"
      (scrolling)="updatePageData(true)"
      (scroll-stopped)="updatePageData(false)"
      swipe-scroll
      [swipeDeltaMultiplier]="swipeDeltaFromInput"
      [defaultHeight]="3000"
      role="feed"
      [attr.aria-setsize]="items.length"
    >
      @for (page of renderingArray; track page.pageIndex) {
        @if (page.pageIndex <= items.length - 1) {
          <missing-dimension-reporter
            [attr.data-page-index]="page.pageIndex"
            class="page"
            style="--width: 100%"
            is-page
            [class.ghost]="page.outOfView"
          >
            @for (item of page.data; track item.cardNumber) {
              <missing-dimension-reporter
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                "
                [attr.data-page-index]="page.pageIndex"
              >
                <feed-card
                  role="article"
                  [attr.data-item-index]="item.cardNumber - 1"
                  text-content="{{ item.textContent }}"
                  card-number="{{ item.cardNumber }}"
                  likes="{{ item.likes }}"
                  comments="{{ item.comments }}"
                  reshares="{{ item.reshares }}"
                  tabindex="0"
                  [attr.data-page-index]="page.pageIndex"
                  [attr.aria-posinset]="item.cardNumber"
                ></feed-card>
                @if (
                  page.pageIndex === this.items.length - 1 &&
                  page.data.indexOf(item) === page.data.length - 1 &&
                  !item.isLast
                ) {
                  <div class="loader-banner">
                    <button (click)="loadMoreItems()">Load more</button>
                  </div>
                }
              </missing-dimension-reporter>
            }
          </missing-dimension-reporter>
        } @else {
          <missing-dimension-reporter
            [attr.data-page-index]="page.pageIndex"
            class="page"
            style="--width: 100%"
            style="height: 0000px"
            is-page
          >
            <div></div>
          </missing-dimension-reporter>
        }
      }
    </missing-page-virtualizer-ntsc>
  </div>
  <missing-dimension-reporter
    class="panel-dim-reporter"
    (dimension-changed)="storePanelHeight($event)"
  >
    <div class="panel info-area">
      <div class="instruction-panel general-information" style="overflow: auto">
        <div>
          This is a demo of a paged-virtualizer component that can technically remember the heights
          of 10^6 pages. If u inspect the DOM, only a few DOM elements are there that simulate the
          whole feed. This component is frontend-framework agnostic as it is a web-component and the
          DOM that u see (the cards are fully provided by the consuming framework) and so, the
          consuming framework has full access to the DOM.
        </div>
        <div>
          The cards with the content have been generated automatically using a script by combining
          several phrases together to simulate somewhat realistic social-media posts.
        </div>
        <div>
          Right now we are only showing 100,000 pages, each with 10 items, and thereby virtualizing
          10 ^ 5 * 10 = 10 ^ 6 DOM Nodes. Scroll all the way below to see the load more button to
          load more till u reach the 1000000 (1M) post.
        </div>
        <p style="font-size: smaller">
          Tab through the cards, Arrow Up or Arrow Down and PageUp or PageDown as well if you have
          access to a keyboard
        </p>
        <p style="font-size: smaller">
          Try dragging the scrollbar as well even if its a touch device
        </p>
      </div>
      <div class="instruction-panel" style="height: fit-content">
        <p>{{ isScrolling ? 'Scrolling' : 'Not Scrolling' }}</p>
        <p>Showing Items {{ startItem }} - {{ endItem }}</p>

        @if (renderingArray?.length) {
        } @else {
          <div class="blink">Please wait !!</div>
        }
      </div>
    </div>
  </missing-dimension-reporter>
  <missing-fake-scrollbar #fakeScrollbar></missing-fake-scrollbar>
</div>
